*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
} 
body{
    font-size: 16px;
    background: linear-gradient(to right, rgba(33, 163, 165, 0.7),rgba(85, 58, 238, 0.7),rgba(233, 53, 233, 0.7));
}
#caption{
    font-size: 125%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.head{
    font-family: 'Rye', cursive;
    font-size: 250%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: border-bottom 0.2s;
    font-weight: 500;
}
.head:hover{
    border-bottom: 2px solid wheat;
}
.head1{
    font-family: 'Emilys Candy', cursive;
    font-weight: 600;
    font-size: 200%;
}
.content{
    background-color: rgba(0,0,0,0.3);
    padding-bottom: 50px;
    padding-top: 20px;
    box-shadow: 7px 7px 7px black;
    margin-bottom: 150px;
    border-radius: 10px;
}
.heading{
    display: flex;
}
#para{
    font-weight: 600;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(207, 205, 205);
}
.subBtn{
    border-radius: 5px;
}
.contain{
    width: 55vw;
    display: block;
    margin: auto;
}
.heading svg{
    height: 50px;
    width: 50px;
}
.heading h1{
    font-size: 220%;
}
.logo{
    margin-left: 20px;
}

/*MEDIAQUERY*/
@media only screen and (max-width: 994px)
{
    html,body{
        font-size: 14px;
    } 
    .contain{
        width: 65vw;
    }
    .heading svg{
        height: 40px;
        width: 40px;
    } 
    .heading h1{
        font-size: 198%;
    }
}
@media only screen and (max-width: 767px)
{
    html,body{
        font-size: 12px;
    } 
    .sub{
        margin-top: 18px;
    }
    .heading svg{
        height: 37px;
    }
    .contain{
        width: 85vw;
    }
}
@media only screen and (max-width: 575px)
{
    .heading h1{
        font-size: 180%;
    }
    header{
        padding-right: 5px;
        padding-left: 5px;
    }
    .heading svg{
        height: 33px;
    }
    .logo{
        margin-left: 8px;
    }
}

